Chapter 2 - Drawing.xcodeproj/xcuserdata/danielw.xcuserdatad/xcdebugger/

Chapter 2 - Drawing.xcodeproj/project.xcworkspace/xcuserdata/

Chapter 2 - Drawing.xcodeproj/project.xcworkspace/xcshareddata/

.DS_Store